header {
    background-color: lightblue;
    text-align: center;
    font-weight: bolder;
    padding: 15px;
}

.one {
    background-color: lightpink;
    border-style: dotted;
    border-width: 2px;
    border-color: ;
    padding: 10px;
}

.list1 {
list-style-type: square;
}

.topic1{
    text-align: center;
    font-weight: bold;
    padding: 5px;

}
.topic2{
    text-align: center;
    font-weight: bold;
    padding: 5px;

}

.two{
    border-style: dashed;
    border-width: 2px;
    border-color: green;
    background-color: azure;
    padding: 20px;
    
}

.topic3 {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.three{
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    background-color: cyan;
    padding: 20px;
}

.topic4{    
    text-align: center;
    font-weight: bold;
    padding: 5px;

}

.four {
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    background-color: #D1001C;
    color: aliceblue;
    padding: 10px;
}

.five{
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
    font-style: italic;
}
.topic5{
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-style: normal;
}
ol li{
    text-align: center;
    list-style-position: inside;
    display: list-item;
}


footer {
    border-style: solid;
    border-width: 2px;
    border-color: orange;
    background-color: rebeccapurple;
    text-align: center;
    color: white;
}